*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;  
}

.col-20{
  flex-basis: 50%;
  min-width: 300px;
  align-items: center;
  display: flex;
  align-items: center;
}

.col-2 img{
  max-width: 100%;
  float: right;
  height: 46rem;
}

#log {
  position: relative;
  top: 30px;
  left: 70px;
  width: 50px;
  height: auto;
}

.form {
  flex-direction: column;
  align-items: center;
  height: 46rem;
  position: center;
  width: 70%;
  max-width: 46.875rem;
  background: #FCFBF7;
  color: #180f0f; 
  box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.5);
}

/* h1 style */
.form h1 {
  text-align: center;
  letter-spacing: 0.015625rem;
  margin: 3rem 0 2.375rem;
  color: var(--Primary-900, #007A87);
  font-family: "Sofia Pro";
  font-size: 2.125rem;
}

/* form-input-group style */
.form-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  margin: 0 auto;
  padding-bottom: 10px;
}

.form-input-group label {
  display: inline-block;
  width: 110%;
  text-align: left;
  margin-bottom: 0.625rem;
  color: var(--Greys-1500, #020202);
  font-size: 14px;
}
  
input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-family: "DM Sans";
  color: var(--Greys-800, #989494)
}

/* CSS for form-input-group input */
.form-input-group input {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.9375rem;
  background-color: #fdfff5;
  border-radius: .3125rem;
  border: 0.0625rem solid gray;
  color: #070303e9;
  padding: 0.5rem 0;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
  
.form-input-group input:focus + label,
.form-input-group input:valid + label {
  transform: translateY(-1rem);
  color: #888;
  font-size: 0.7rem;
}
  
.form-input-group input:hover,
.form-input-group input:focus {
  border-color: gray;
}
  
#togglePassword {
  position: absolute;
  top: 30%;
  right: 0.625rem;
  transform: translateY(-50%);
  color: #888;
}
  
#togglePassword:hover {
  color: gray;
}

.btn-login {
  display: flex;
  width: 21.875rem;
  margin-top: 2.9375rem;
  height: 3.75rem;
  align-items: center;
  justify-content: center;
  margin: 0.125rem auto 0;
}
  
.btn-login button[type="submit"] {
  width: 85%;
  height: 50%;
  margin: auto;
  border: 0.0625rem solid gray;
  border-radius: 0.6rem;
  color: #ffffff;   
  background: var(--Primary-800, #0390A0);
}
     
.btn1, .btn2 {
  width: 7rem;
}

/* signup-link style */
.signup-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
   
.signup-link,
.signup-link a {
  color: #060101cb;
  font-size: 12px;
}
   
.signup-link a {
  color: var(--Secondary-900, #87002D);
  font-weight: 700;
  font-family: "DM Sans";
}
   
.signup-link a:hover {
  color: var(--Primary-800, #0390A0);
  font-size: 14px;
}
  
/* horizontal style */
.horizontal-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
  
.horizontal1,
.horizontal2 {
  width: 120px;
}
  
.horizontal-container div {
  color: white;
}
  
.horizontal {
  position: relative;
  z-index: 1;
  color: #000000;
  padding: 5px 15px;
}
  
.horizontal-container div p {
  margin: 0;
}
  
/* button style */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.button-container a {
  text-decoration: none;
  color: #000000;
}
  
.btn1,
.btn2 {
  width: 9rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin: 0.125rem 0;
  border: 0.0625rem solid gray;
  border-radius: 0.5rem;
  font-size: 11px;
}
  
.btn1 img, .btn2 img {
  width: 20px;
  height: 20px;
}
  
.btn1 p, .btn2 p {
  margin-left: 8px;
}
  
.btn1 p {
  color: #1976D2;
}

.btn2 p {
  color: var(--Greys-1100, #3E3C3C);
}

.button-container a p {
    text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  background: var(--Primary-900, #007A87);
}
  
.footer-message {
  box-sizing: border-box;
  margin-block: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  }
   
.footer-message a {
  color: rgba(128, 128, 128, 0.882); 
}
   
.footer-message a:hover {
  color: rgba(128, 128, 128, 0.882); 
}

/* Media query for tablet view */
@media screen and (max-width: 48rem) {
.toggle {
  margin-left: 2%;
}
 }
 