/* body style */
body {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.login-wrapper {
  padding: 0 10em;
  flex: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
 
.form-image > img { 
  height: 46rem;
} 

/* h1 style */
.form h1 {
  text-align: center;
  letter-spacing: 0.015625rem;
  margin: 3rem 0 2.375rem;
  color: var(--Primary-900, #007A87);
  font-family: "Sofia Pro";
  font-size: 2.125rem; 
}
 
/* form style */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: center;
  width: 100%;
  max-width: 46.875rem;
  padding:   0;
  background: #FCFBF7;
  color: #180f0f; 
  box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.5);
}
 
/* form-input-group style */
.form-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* CSS for form-input-group label */
.form-input-group label {
  display: inline-block;
  width: 110%;
  text-align: left;
  margin-bottom: 0.625rem;
  color: var(--Greys-1500, #020202);
  font-size: 10px;
}

input::placeholder {
  color: black;
  font-size: 9px;
  font-style: italic;
}

/* CSS for form-input-group input */
.form-input-group input {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.9375rem;
  background-color: #fdfff5;
  border-radius: .3125rem;
  border: 0.0625rem solid gray;
  color: #070303e9;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-input-group input:focus + label,
.form-input-group input:valid + label {
  transform: translateY(-1rem);
  color: #888;
  font-size: 0.7rem;
}

.form-input-group input:hover,
.form-input-group input:focus {
    border-color: gray;
}

#togglePassword {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  color: #888;
}

#togglePassword:hover {
  color: gray;
}

.btn-login {
  text-align: center;
  margin-top: 2.9375rem;
  width: 21.875rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.125rem auto 0;
  padding-top: 50px;
}

.btn-login button[type="submit"] {
  width: 85%;
  height: 50%;
  margin: auto;
  border: 0.0625rem solid gray;
  border-radius: 0.6rem;
  color: #ffffff;   
  background: var(--Primary-800, #0390A0);
}
  
  
/* Media query for tablet view */
@media screen and (max-width: 48rem) {
  .toggle {
    margin-left: 2%;
  }
}
 
/* signup-link style */
.signup-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
 
.signup-link,
.signup-link a {
  color: #060101cb;
  font-size: 12px;
}
 
.signup-link a {
  color: #a34040;
  font-weight: 400;
  padding-left: 0.625rem; 
}
 
.signup-link a:hover {
  color: rgba(4, 72, 46, 0.9);
}

/* horizontal style */
.horizontal-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.horizontal1,
.horizontal2 {
  width: 120px;
}

.horizontal-container div {
  color: white;
}

.horizontal {
  position: relative;
  z-index: 1;
  color: #000000;
  padding: 5px 15px;
}

.horizontal-container div p {
  margin: 0;
}

/* button style */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn1,
.btn2 {
  width: 9rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin: 0.125rem 0;
  border: 0.0625rem solid gray;
  border-radius: 0.5rem;
  font-size: 11px;
}

.btn1 img, .btn2 img {
  width: 20px;
  height: 20px;
}

.btn1 p, .btn2 p {
  margin-left: 8px;
}

.btn1 p {
  color: #1976D2;
}

/* footer style */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  background: var(--Primary-900, #007A87);
}

.footer-message {
  box-sizing: border-box;
  margin-block: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
}
 
.footer-message a {
  color: rgba(128, 128, 128, 0.882); 
}
 
.footer-message a:hover {
  color: rgba(128, 128, 128, 0.882); 
}
